#footer{
  margin-top: 30px;
  padding: 10 20 10 10;
  color: #fff;
  background: #333;
  font-size: 15px;
  font-family: fantasy;
}
.card{
  border: none;
  background-color: lightgray;
  padding: 20px;
  opacity: 50%;
}
a{
  color: white;
}
.btn{
  background-color: black;
}
